<form method="post" action="{{ path('app_capsule_delete', {'id': capsule.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette capsule ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capsule.id) }}">
    <button class="btn btn-danger rounded-pill px-4 fw-bold">
        <i class="fas fa-trash-alt me-2"></i> Supprimer
    </button>
</form>
